{% extends "layout.njk" %}

{% block content %}
  <p>{{ details.name }}</p>
  <img src="{{ details.cover_url }}">

  {% for game_genre in details.games_genres %}
    <p> {{ game_genre.genre.name }} </p>
  {% endfor %}

{% endblock %}
