{% extends "layout.njk" %}

{% block content %}
  <h2 class="text-center">{{ details.name }}</h2>
  <p class="text-center">genre : {% for game in details.games_genres %} {{ game.genre.name }} {% endfor %}</p>


  <img class="mx-auto d-block" src="{{ details.cover_url }}">
  <h4 class="text-center my-3">Screenshots</h4>
  <div class="container">
    <div class="row">
      {% for screenShot in details.game_screenshots%}
        <div class="p-3 col-4">
          <img class="img-fluid img-thumbnail" src="{{screenShot.url}}">
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
