{% extends "layout.njk" %}


{% block content %}
  <div class="container">
    <div class="row">
      {% for game in gamesByPlatform.games %}
        <div class="col-lg-3 col-md-4 col-sm-6 m-auto games">
          <div style="background-image:url('{{ game.cover.url}}')" class="gameList" >
            <p class="gameTitle"><a href="/games/{{game.slug}}">{{ game.name}}</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      {% if pageNumber > 1 %}
        <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber-1}}">previous page</a></li>
        {% if pageNumber > 2 %}
          <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber-2}}">{{pageNumber-2}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber-1}}">{{pageNumber-1}}</a></li>
      {% endif %}

      <li class="page-item active"> <span class="page-link">{{pageNumber}}</span></li>

      {% if pageNumber < totalPages %}
        <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber+1}}">{{pageNumber+1}}</a></li>
        {% if pageNumber < totalPages - 1 %}
          <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber+2}}">{{pageNumber+2}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/platform/{{slug}}/?pages={{pageNumber+1}}">next page</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
