{% extends "layout.njk" %}

{% block content %}
  <p>{{ details.name }}</p>
  <img src="{{ details.cover_url }}">

  {% for game in details.games_genres %}
    <p> {{ game.genre.name }} </p>
  {% endfor %}

  {% for screenShot in details.game_screenshots%}
    <img src="{{screenShot.url}}">
  {% endfor %}

{% endblock %}
