{% extends "layout.njk" %}


{% block content %}

  <div class="displayGame">
    {% for game in gamesByPlatform.games %}
      <div style="background-image:url('{{ game.cover.url}}')" class="game">
        <p class="gameTitle"><a href="/games/{{game.slug}}">{{ game.name}}</a></p>
      </div>
    {% endfor %}
  </div>

  <div class="buttons">
    <ul>
      <li><a href="/platform/{{slug}}/?pages={{pages-1}}">previous page</a></li>
      <li class="subPageNumber"><a href="/platform/{{slug}}/?pages={{pages-2}}">{{pages-2}}</a></li>
      <li class="subPageNumber"><a href="/platform/{{slug}}/?pages={{pages-1}}">{{pages-1}}</a></li>
      <li>{{pages}}</li>
      <li class="subPageNumber"><a href="/platform/{{slug}}/?pages={{pages+1}}">{{pages+1}}</a></li>
      <li class="subPageNumber"><a href="/platform/{{slug}}/?pages={{pages+2}}">{{pages+2}}</a></li>
      <li><a href="/platform/{{slug}}/?pages={{pages+1}}">next page</a></li>
    </ul>
  </div>

{% endblock %}
