{% extends "layout.njk" %}

{% block content %}

  <div class="displayPlatform">
      {% for platform in platformsList %}
      <div class="platform">
        <p><a href="/platform/{{platform.slug}}">{{platform.name}}</a></p>
        <img src="{{platform.logo.url}}" alt="No logo">
      </div>
      {% endfor %}
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      {% if pageNumber>1 %}
        <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber-1}}">previous page</a></li>
        {% if pageNumber>2 %}
        <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber-2}}">{{pageNumber-2}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber-1}}">{{pageNumber-1}}</a></li>
      {% endif %}

      <li class="page-item active"> <span class="page-link">{{pageNumber}}</span></li>

      {% if pageNumber<10%}
        <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber+1}}">{{pageNumber+1}}</a></li>
        {% if pageNumber<9%}
          <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber+2}}">{{pageNumber+2}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/platform?page={{pageNumber+1}}">next page</a></li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
